html, body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}

iframe.jsdocs {
  display: block;
  position: absolute;
  height: calc(100vh - 60px);
  bottom: 0;
  left: 0;
  width: 100vw;
}

.header {
  background: #141414;
  position: fixed;
  height: 60px;
  box-sizing: border-box;
  width: 100vw;
  padding: 10px 20px;
  left: 0;
  top: 0;

  img.logo-pleasure {
    height: 47px;
    width: auto;
    margin-bottom: -7px;
  }
}
